---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<youtube_key>&maxResults=1&part=snippet&q=Thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "FQU2xPJ7n9U7jzVjqziMj_VOtec",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 11,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "FjGlItgy8y2uxZk4LIjMpce7-a4",
              "id": {
                "kind": "youtube#video",
                "videoId": "U2YMewwotiQ"
              },
              "snippet": {
                "publishedAt": "2021-01-26T06:23:15Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Indonesia",
                "description": "Sources: \"A Brief History of Indonesia\" (2015 ) by Tim Hannigan. Tuttle Publishing, North Clarendon, VT.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/U2YMewwotiQ/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/U2YMewwotiQ/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/U2YMewwotiQ/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-01-26T06:23:15Z"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Mar 2023 00:33:47 GMT
recorded_with: VCR 6.1.0
