---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyB63jbuxhO-g301FicsFBYPG2l3UQLwndk&maxResults=1&part=snippet&q=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "D9ey7bA4m2X10kDHNJ1761A8v80",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 11,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "g_AANaDO0PP_y9-nAEiKyK7DquE",
              "id": {
                "kind": "youtube#video",
                "videoId": "uw8hjVqxMXw"
              },
              "snippet": {
                "publishedAt": "2021-08-29T10:13:10Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Laos",
                "description": "Audio Requiring Attribution: LukeIRL: https://freesound.org/people/LukeIRL/sounds/176134/ RTB45: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-08-29T10:13:10Z"
              }
            }
          ]
        }
  recorded_at: Sun, 05 Mar 2023 20:54:17 GMT
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=uP3xuHpr2Dn_BVL7I36Vp-YTDqI_eZfK7-N1QDrlfdU&count=10&query=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"8f32a025c98a136e164796a49e0d2b29"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"_6bfVnELZXE","created_at":"2019-09-27T05:30:48Z","updated_at":"2023-03-05T00:09:24Z","promoted_at":"2019-09-27T12:03:53Z","width":5440,"height":3627,"color":"#0c2626","blur_hash":"LJF~:J0K59wa?wtS9Fjv0OxaMc%g","description":"Khao
        soi in Bangkok","alt_description":"ramen on brown tray","urls":{"raw":"https://images.unsplash.com/photo-1569562211093-4ed0d0758f12?ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNDk2NTg\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1569562211093-4ed0d0758f12?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNDk2NTg\u0026ixlib=rb-4.0.3\u0026q=80","regular":"https://images.unsplash.com/photo-1569562211093-4ed0d0758f12?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNDk2NTg\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1569562211093-4ed0d0758f12?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNDk2NTg\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1569562211093-4ed0d0758f12?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNDk2NTg\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1569562211093-4ed0d0758f12"},"links":{"self":"https://api.unsplash.com/photos/_6bfVnELZXE","html":"https://unsplash.com/photos/_6bfVnELZXE","download":"https://unsplash.com/photos/_6bfVnELZXE/download?ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNDk2NTg","download_location":"https://api.unsplash.com/photos/_6bfVnELZXE/download?ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNDk2NTg"},"likes":334,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"6C27UHma4ho","updated_at":"2022-11-09T18:31:09Z","username":"ural_8_low","name":"8-Low
        Ural","first_name":"8-Low","last_name":"Ural","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Bangkok","links":{"self":"https://api.unsplash.com/users/ural_8_low","html":"https://unsplash.com/@ural_8_low","photos":"https://api.unsplash.com/users/ural_8_low/photos","likes":"https://api.unsplash.com/users/ural_8_low/likes","portfolio":"https://api.unsplash.com/users/ural_8_low/portfolio","following":"https://api.unsplash.com/users/ural_8_low/following","followers":"https://api.unsplash.com/users/ural_8_low/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1568012706-800e84bbf589.jpg?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-fb-1568012706-800e84bbf589.jpg?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-fb-1568012706-800e84bbf589.jpg?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"satokensky","total_collections":0,"total_likes":0,"total_photos":3,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"satokensky","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"Canon
        EOS 5D Mark III","name":"Canon, EOS 5D Mark III","exposure_time":"1/160","aperture":"1.8","focal_length":"85.0","iso":100},"location":{"name":"Bangkok,
        Thailand","city":"Bangkok","country":"Thailand","position":{"latitude":13.7563309,"longitude":100.5017651}},"views":2106945,"downloads":7036},{"id":"dZBut7-3G6I","created_at":"2019-05-26T18:10:16Z","updated_at":"2023-03-05T17:07:30Z","promoted_at":null,"width":3218,"height":4096,"color":"#f3f3f3","blur_hash":"L$G[$eIUNHs:~qInj[j[x^RjsnWV","description":null,"alt_description":"white
        and brown building","urls":{"raw":"https://images.unsplash.com/photo-1558894189-cc9814a2328f?ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNDk2NTg\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1558894189-cc9814a2328f?crop=e[...]
