---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<youtube_key>&maxResults=1&part=snippet&q=Thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "FQU2xPJ7n9U7jzVjqziMj_VOtec",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 11,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "FjGlItgy8y2uxZk4LIjMpce7-a4",
              "id": {
                "kind": "youtube#video",
                "videoId": "U2YMewwotiQ"
              },
              "snippet": {
                "publishedAt": "2021-01-26T06:23:15Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Indonesia",
                "description": "Sources: \"A Brief History of Indonesia\" (2015 ) by Tim Hannigan. Tuttle Publishing, North Clarendon, VT.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/U2YMewwotiQ/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/U2YMewwotiQ/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/U2YMewwotiQ/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-01-26T06:23:15Z"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Mar 2023 00:33:45 GMT
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<unsplash_access_key>&count=10&query=Thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"0b92d78feb886a792edfa4243e1a5f0f"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"Dj5evF5JCjI","created_at":"2017-12-18T03:49:22Z","updated_at":"2023-03-05T01:02:50Z","promoted_at":"2017-12-18T14:25:27Z","width":3386,"height":1843,"color":"#260c0c","blur_hash":"LBF}coMyM{#S1+sD$MNZvyOn9_NH","description":"Rod
        Fai Night Market, Bangkok","alt_description":"aerial photography of village
        during nighttime","urls":{"raw":"https://images.unsplash.com/photo-1513568917837-e5be8262f18f?ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNjI4MjY\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1513568917837-e5be8262f18f?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNjI4MjY\u0026ixlib=rb-4.0.3\u0026q=80","regular":"https://images.unsplash.com/photo-1513568917837-e5be8262f18f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNjI4MjY\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1513568917837-e5be8262f18f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNjI4MjY\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1513568917837-e5be8262f18f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNjI4MjY\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1513568917837-e5be8262f18f"},"links":{"self":"https://api.unsplash.com/photos/Dj5evF5JCjI","html":"https://unsplash.com/photos/Dj5evF5JCjI","download":"https://unsplash.com/photos/Dj5evF5JCjI/download?ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNjI4MjY","download_location":"https://api.unsplash.com/photos/Dj5evF5JCjI/download?ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNjI4MjY"},"likes":520,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"GXKh-6eZU6c","updated_at":"2023-02-09T08:29:00Z","username":"geoffgreenwood","name":"Geoff
        Greenwood","first_name":"Geoff","last_name":"Greenwood","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/geoffgreenwood","html":"https://unsplash.com/@geoffgreenwood","photos":"https://api.unsplash.com/users/geoffgreenwood/photos","likes":"https://api.unsplash.com/users/geoffgreenwood/likes","portfolio":"https://api.unsplash.com/users/geoffgreenwood/portfolio","following":"https://api.unsplash.com/users/geoffgreenwood/following","followers":"https://api.unsplash.com/users/geoffgreenwood/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1513568680-555e5982a1f0.jpg?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-fb-1513568680-555e5982a1f0.jpg?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-fb-1513568680-555e5982a1f0.jpg?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":null,"total_collections":0,"total_likes":0,"total_photos":3,"accepted_tos":false,"for_hire":false,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":"Rot
        Fai Train Night Market, Thailand","city":null,"country":"Thailand","position":{"latitude":13.6951959,"longitude":100.650987}},"views":2274964,"downloads":15020},{"id":"-CSJXvPf1aM","created_at":"2018-08-08T09:05:30Z","updated_at":"2023-03-05T19:04:24Z","promoted_at":null,"width":4671,"height":3114,"color":"#262626","blur_hash":"L25;]mxtE2R+0Mt7Rjs:4oRk?GNG","description":"Children
        in Firework","alt_description":"man and woman kissing in front of fireworks
        display during night time","urls":{"raw":"https://images.unsplash.com/photo-1533718821106-16a582464358?ixid=Mnw0MTg1Njh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzgwNjI4MjY\u0026ixlib=rb-4.0.[...]
